/* start variables */

:root {
    --main-color-alt: #071629;
    --section-padding: 100px;
    --main-color: #FF6565;

    /* start variables  hamburger*/
  --bar-width: 40px;
  --bar-height: 3px;
  --hamburger-gap: 6px;
  --foreground: white;
  --background: white;
  --hamburger-margin: 25px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    /* end variables  hamburger*/
}

/* end variables */

/* start icons */
@font-face {
    font-family: 'holberton_school-icon';
    src:  url('./fonts/holberton_school-icon.eot?sq4eq4');
    src:  url('./fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
      url('./fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
      url('./fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
      url('./fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="holberton_school-icon-"], [class*=" holberton_school-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'holberton_school-icon' !important;
    /* speak: none; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .holberton_school-icon-arrow_1:before {
    content: "\e900";
  }
  .holberton_school-icon-arrow_2:before {
    content: "\e901";
  }
  .holberton_school-icon-arrow_3:before {
    content: "\e902";
  }
  .holberton_school-icon-arrow_4:before {
    content: "\e903";
  }
  .holberton_school-icon-arrow_5:before {
    content: "\e904";
  }
  .holberton_school-icon-check:before {
    content: "\e905";
  }
  .holberton_school-icon-ic_bag:before {
    content: "\e906";
  }
  .holberton_school-icon-ic_cart:before {
    content: "\e907";
  }
  .holberton_school-icon-ic_facebook:before {
    content: "\e908";
  }
  .holberton_school-icon-ic_hearing:before {
    content: "\e909";
  }
  .holberton_school-icon-ic_instagram:before {
    content: "\e90a";
  }
  .holberton_school-icon-ic_laptop:before {
    content: "\e90b";
  }
  .holberton_school-icon-ic_money:before {
    content: "\e90c";
  }
  .holberton_school-icon-ic_music:before {
    content: "\e90d";
  }
  .holberton_school-icon-ic_sound:before {
    content: "\e90e";
  }
  .holberton_school-icon-ic_twitter:before {
    content: "\e90f";
  }
  .holberton_school-icon-ic_video:before {
    content: "\e910";
  }
  .holberton_school-icon-menu:before {
    content: "\e911";
  }
  .holberton_school-icon-search_1:before {
    content: "\e912";
  }
  .holberton_school-icon-search_2:before {
    content: "\e913";
  }
  .holberton_school-icon-star:before {
    content: "\e914";
  }
/* end icons*/

/* start global rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
   scroll-behavior: smooth;
}

body {
    font-family: sans-serif;    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
    /* start media queries */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .container {
        width: 560px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
        width: 750px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container {
        width: 970px;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container {
        width: 1170px;
    }
 }
    /* end media queries */
 /* end global rules */

 /* start header */
 header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
  }

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 32px;
    padding-top: 20px;
  }

header nav img {
    color: white;
    cursor: pointer;
    height: 32px;
    width: 161px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}


header nav ul li a {
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
}

header nav ul li a:hover {
    color: var(--main-color);
}

@media (max-width: 575px) {
    header nav {
        flex-direction: column;   
    }

    header nav ul {
        flex-direction: column;
        display: none;
    }

}

/* start hamburger-menu */

@media (min-width: 576px) {
    label.hamburger-menu {
        display: none;
    }
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
  
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
  }
  
  .hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: #333;
  }
  
  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
  }

  .hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
    width: 80%;
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:checked) + ul {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    max-width: 100%;
}

/* end hamburger-menu */
 /* end header */

 /* start landing */

main .landing {
    position: relative;
    background-color: #1f2021;
    background-image: url(./images/headphones_hero_1.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}


 main .landing .landing-title {
   position: absolute;
   left: 50%;
   top: 60%;
   transform: translate(-50%, -50%);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   gap: 50px;
   color: white;
   text-align: center;
 }

 main .landing .landing-title .text h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.1;
    padding: 0 15px;
    margin: 0 auto 10px auto;
 }
 main .landing .landing-title .text p {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3;
    margin: 0 auto;
    padding: 0 15px;
 }
 main .landing .landing-title button {
    padding: 15px 20px;
    border-radius: 20px;
    background-color: var(--main-color);
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
 }

 main .landing .landing-title .button button:hover {
    opacity: 0.9;
 }

 main .landing .landing-title .p-only {
    opacity: 0.8;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.8;
    position: relative;
    top: 22%;
    max-width: 55%;
 }

 @media (max-width: 575px) {
    main .landing .landing-title {
        height: fit-content;
        gap: 30px;
    }

    main .landing .landing-title p.p-only {
        max-width: 90%;
        top: 0;
    }
 }
 
 /* end landing */

 /* start What we do */
 main .what-we-do {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.what-we-do .text2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  margin-bottom: 50px;
}

.what-we-do .text2 h2 {
  font-size: 32px;
  color: var(--main-color-alt);
  font-weight: bold;
}

.what-we-do .text2 p {
  font-size: 16px;
  color: var(--main-color-alt);
  line-height: 1.3;
  max-width: 60%;
}

.what-we-do .cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}

.what-we-do .cards .card1,
.what-we-do .cards .card2,
.what-we-do .cards .card3,
.what-we-do .cards .card4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 180px;
}

.what-we-do .cards span {
  font-size: 100px;
  color: var(--main-color);
}

.what-we-do .cards h3 {
  font-size: 18px;
}

.what-we-do .cards p {
  font-size: 14px;
  text-align: center;
  line-height: 1.8;
}

@media (max-width: 575px) {
  .what-we-do .text2 p {
      max-width: 100%;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .what-we-do .cards .card1,
  .what-we-do .cards .card2,
  .what-we-do .cards .card3,
  .what-we-do .cards .card4 {
      width: calc(60% / 2);
  }

}

/* end What we do */

/* start our-results */
main .our-results {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-image: url(./images/headphones_hero_2.jpg);
    background-size: cover;
    background-position: center;
    height: fit-content;

 }

 .our-results .text3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    margin-bottom: 50px;
 }

 .our-results .text3 h2 {
    font-size: 32px;
    color: white;
    font-weight: bold;
 }

 .our-results .text3 P {
    font-size: 16px;
    color: white;
    line-height: 1.5;
    max-width: 60%;
 }

 .our-results .four-images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
 }

 .our-results .four-images img {
    width: 190px;
 }

 .our-results .four-images div {
    position: relative;
 }

 .our-results .four-images div::before {
    content: "+2%";
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 46px;
    font-weight: bold;
    color: white;
    transform: translate(-50%, -50%);
    z-index: 2;
 }

 .our-results .four-images div::after {
    content: "Lorem ipsum dolor";
    position: absolute;
    left: 50%;
    top: 75%;
    font-size: 14px;
    color: white;
    transform: translate(-50%, -50%);
    width: 116px;
    z-index: 2;
 }

 @media (max-width: 575px) {
    .our-results .text3 p {
        max-width: 100%;
    }
 }

 @media (min-width: 767px) and (max-width: 991px) {
    .our-results .four-images div {
        width: calc(60% / 2);
    }

    .our-results .four-images div::before {
        left: 45%;
    }

    .our-results .four-images div::after {
        left: 45%;
    }
 }

 /* end our-results */

 /* start contact-us */
 main .contact-us {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
 }

 .contact-us .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

 .contact-us .text4 h2 {
    font-size: 32px;
    color: var(--main-color-alt);
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
 }

 .contact-us form {
    display: flex;
    flex-direction: column;
    width: 40%;
 }

 .contact-us form label {
    padding: 0 0 5px 0;
    font-size: 14px;
    font-weight: bold;
 }

 .contact-us form input {
    margin-bottom: 20px;
    padding: 5px;
 }

 .contact-us form #message {
    margin-bottom: 30px;
 }

 .contact-us form button {
    padding: 15px 20px;
    border-radius: 20px;
    background-color: var(--main-color);
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    margin: auto;
 }

 .contact-us form .button button:hover {
    opacity: 0.9;
 }

 @media (max-width: 575px) {
    .contact-us form {
        width: 100%;
    }
 }

 /* end contact-us */

 /* start footer */
 footer .footer {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: var(--main-color-alt);
 }

 .footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .footer .linkes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
 }

 .footer img {
    color: white;
    cursor: pointer;
    height: 32px;
    width: 161px;
 }

 .footer .linkes .media {
    font-size: 30px;
    color: white;
    
 }

 .footer .linkes .media span {
    margin-right: 10px;
    cursor: pointer;
 }

 .footer p {
    color: #7f7e91;
 }

 @media (max-width: 575px) {
    .footer .linkes {
        flex-direction: column;
        gap: 30px;
    }

    .footer .container {
        gap: 20px;
    }
 }

 /* end footer */

 