body {
    display: flex;
    flex-direction: column;
}

main {
    flex-direction: row;
    flex: auto;
    color: #ac1c1c;
    border: 1px solid #081b50;
}

article {
    flex-grow: 2;
    overflow: auto;
}

aside {
    flex-grow: 1;
    overflow: auto;
}

.logo {
    display: flex;
    height: 60px;
    width: 60px;
}